# You can use this example to create your own .env file
# Feel free to use existing Reddit API keys
REDDIT_CLIENT_ID=ySv3VOIgis4cKgYhguH8qw
REDDIT_CLIENT_SECRET=hzUoxgwOiQpoX7vbJ2-BF827-UvzuA
REDDIT_USER_AGENT=script by u/veljkho
